* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #ffffff;
}

body {
  width: 1600px;
  display: block;
  background: #ffffff;
  margin: 0 auto;
  flex-direction: row;
}

.bgintro {
  background-image: url(../bg-image.jpg);
  width: 1600px;
  height: 744px;
}

header {
  overflow: auto;
  width: auto;
  height: 95px;
}

a {
  text-decoration: none;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

nav {
  padding-top: 25px;
  padding-bottom: 37px;
  height: 44px;
  width: 559px;
  margin-left: 502px;
}

li {
  list-style: none;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  width: 544px;
  height: 44px;
  margin: 0 auto;
  align-items: center;
}

.nav_list {
  color: #ffffff;
  text-decoration: none;
  opacity: 80%;
}
.nav_list_active {
  color: #ffffff;
}

.nav ul li:nth-child(1) a::after {
  content: "";
  height: 1px;
  background-color: #ffffff;
  display: block;
}
.nav_list:hover {
  opacity: 1;
}

.nav_list:hover::after {
  content: "";
  height: 1px;
  background-color: #ffffff;
  display: block;
}

.yourLifeAphoto {
  font-weight: bold;
  font-style: normal;
  font-family: "Roboto";
  font-size: 64px;
  line-height: 75px;
  color: var(--main-color);
  height: 75px;
  margin: 0 auto;
  width: fit-content;
  margin-top: 135px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
  align-items: center;
}
.text2 {
  width: 504px;
  height: 50px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: var(--main-color);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn {
  display: flex;
  opacity: 1;
  background-color: #00afdb;
  width: 184px;
  height: 46px;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn p {
  margin: auto auto;
  width: 90px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--main-color);
}

.btn:hover {
  background-color: #009cc2;
  cursor: pointer;
}

.firstButton {
  margin: 0 auto;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 20px;
  margin: 0 auto;
  padding-top: 183px;
}

.socialLinks a {
  height: 20px;
  width: 20px;
  margin: 0;
}

.rappresent {
  display: flex;
  width: 1600px;
  height: 842px;
  justify-content: space-between;
}

.contentBlock1 {
  display: block;
  height: 233px;
  width: 407px;
  margin-top: 269px;
  margin-left: 295px;
}

.image1 {
  margin-top: 120px;
  margin-right: 269px;
  height: 582px;
  width: 407px;
}

.blockText3 {
  width: 368px;
  height: 57px;
  align-items: center;
}
.blockText3 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #373737;
}

.blockText4 {
  width: 407px;
  height: 80px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.blockText4 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}
.blockText4 p span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #4e4e4e;
}

.btn {
}

.ourCommunity {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  height: 504px;
  background: #f5f6f7;
}

.contentBlock2 {
  width: 298px;
  height: 175px;
  margin-left: 269px;
  margin-top: 155px;
  text-align: center;
}
.blockText5 {
  width: 180px;
  height: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.blockText5 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: #373737;
}

.blockText6 {
  width: 298px;
  height: 80px;
  margin: 0 auto;
  align-items: center;
}

.blockText6 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  color: #4e4e4e;
}

.contentBlock3 {
  display: block;
  margin-top: 82px;
  width: 1281px;
  height: 282px;
  margin-left: 139px;
}

.slider {
  display: flex;
  width: 83px;
  height: 18px;
  margin-bottom: 20px;
  margin-left: 542px;
  align-items: center;
}

.leftArrow:hover {
  opacity: 0.5;
  cursor: pointer;
}

.rightArrow:hover {
  opacity: 0.5;
  cursor: pointer;
}

.firstNumber {
  margin-left: 14px;
  margin-right: 4px;
}

.secondNumber {
  margin-left: 4px;
  margin-right: 14px;
}

.sliderImage {
  display: flex;
  height: 244px;
  justify-content: space-between;
}

.implement{
    width: 1600px;
height: 842px;
}

.image2{
    width: 407px;
height: 582px;
margin-left: 269px;
margin-top: 120px;
}