* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    
    max-width: 100%;
    
   
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, Arial, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0px auto;
    
}
header{
    
    max-width: 100%;
    height: 120px;
    background: #FFFFFF;
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
}
.header_inner{
display: flex;
padding-top: 30px;
padding-bottom: 30px;
justify-content: space-between;
}

.headerLogo{
    display: block;
    width: 186px;
    height: 60px;
}

h1{
    font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 110%;
/* or 35px */

display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}

.headerLogo p{

/* logo_subtitle */

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.1em;

/* color-dark-3xl */

color: #292929;

margin-top: 10px;
margin-left: 4px;
}

.nav{
    width: 443px;
    height: 27px;
    margin-top: 16.5px;
    margin-bottom: 16.5px;
}
.nav ul{
    height: 27px;
    display: flex;
    justify-content: space-between;

}

li{
    list-style: none;
}

.nav a{
    text-decoration: none;
    font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 160%;
/* identical to box height, or 24px */


}
.nav ul li :hover{
    color: #292929;
}

.nav ul li :hover:after{
    content: "";
    height: 3px;
    background-color: #F1CDB3;
    display: block;
}

.nav_list{
    color: #545454;
}

.nav_list_active{
    color: #292929;
}

.nav ul li:nth-child(1) a::after {
    content: "";
    height: 3px;
    background-color: #F1CDB3;
    display: block;
}

.ourFriends{
    background: #F6F6F6;
    max-width: 100%;
    min-height: 1345px;
}

.petsContent{
    max-width: 1200px;
    padding-top: 80px;
    padding-bottom: 100px;
   

}
.petsContentHeading{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 90px;
    font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 130%;
/* or 45px */


letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}


#grid {
    margin-top: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
/*grid-auto-columns:none ;

    grid-template-areas:
    'card1 card2 card3 card4'
    'card5 card6 card7 card8' ;*/
    grid-row-gap: 30px;
    grid-column-gap: 40px;
  }

  .cards{
      margin: 0 auto;
      display: block;
    text-decoration: none;
      width: 270px;
      height: 435px;
      /* color-light-s */
text-align: center;
background: #FAFAFA;
border: none;
border-radius: 9px;

  }
  .cards p{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    
    letter-spacing: 0.06em;
    
    /* color-dark-l */
    
    color: #545454;
      margin-top: 30px;
      margin-bottom: 30px;
  }


  .btn div{
     
      
      margin:auto auto;
    width: 187px;
    height: 52px;
    
    border: 2px solid #F1CDB3;
border-radius: 100px;
margin-bottom: 30px;
  }

  .btn div p{
      display: table-cell;
      padding-left: 45px;
      padding-top: 15px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    
    letter-spacing: 0.06em;
    
    /* color-dark-3xl */
    
    color: #292929;
    
      
  }

  .pagination{
      display: flex;
      justify-content: space-between;
      max-width: 340px;
      height: 52px;
      margin: auto;
      margin-top: 4.471%;
  }

  .pagination li{
      display: grid;
    width: 52px;
    height: 52px;
      margin: auto 0;
  }

  .pagination li input{
      outline: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    /* color-dark-3xl */
    
    color: #292929;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination li span{
      display: flex;
      justify-content: center;
      align-items: center;

     
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;
  }

  .pagination li .disabled {
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    color:  #CDCDCD;
  } 
  .pagination li .active:hover{
      outline: 0;
      cursor: pointer;
  }

  footer{
      
      max-width: 100%;
min-height: 350px;
      background: url(../../assets/images/footer-gradient-background.jpg);
      background: url(../../assets/images/95577108af837b8b441616746225b66e.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;}
      
      .footerContent{
         padding-top: 40px;
          display: flex;
         
          justify-content: space-between;
      }

      .info{
          width: 741px;
          display: flex;
          justify-content: space-between;
      }
      .contacts{
        width: 278px;
        height: 234px;
          display: block;
      }

      .Text1{
        width: 278px;
        height: 90px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 34px;
        line-height: 130%;
        /* or 45px */
        
        letter-spacing: 0.06em;
        
        /* color-light-xl */
        
        color: #FFFFFF;}

        .mail{
            margin-top: 40px;
            margin-bottom: 40px;
            text-decoration: none;
            width: 251px;
            height: 32px;
            font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */

letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
            display: flex;
            justify-content: space-between;
        }

    .phone{
        
        text-decoration: none;
        width: 239px;
        height: 32px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 115%;
        /* identical to box height, or 23px */
        
        letter-spacing: 0.06em;
        
        /* color-primary */
        
        color: #F1CDB3;
        display: flex;
        justify-content: space-between;
    }

    .location{
        width: 302px;
        height: 234px;
        display: block;
        
    }

    .Text2{
        width: 270px;
        height: 90px;
        font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 130%;
/* or 45px */

letter-spacing: 0.06em;

/* color-light-xl */

color: #FFFFFF
    }

    .location1{
        margin-top: 33px;
        margin-bottom: 33px;
        width: 302px;
    height: 46px;
    }

.location1 a{
    
    text-decoration: none;
    
    font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* or 23px */

letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
    display: flex;
    
    
}

.location1 a p{
    margin-left: 20px;
}

.location2{
    width: 302px;
    height: 32px;
}

.location2 a{
    text-decoration: none;

    font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */

letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
display: flex;

}

.location2 a p{
    margin-left: 20px;
}

@media (max-width: 1200px){
    .container{
        max-width: 708px;
        margin: 0px auto;
    }
    .ourFriends{
        
        max-height: 1733px;
    }

}

.header_burger{
    display: none;
}

@media (max-width: 767px){
    
    .container{
        max-width: 300px;
        margin: 0px auto;
    }
    .ourFriends{
        
        max-height: 1630px;
    }
    .nav{
        display: none;
        visibility: hidden;
    }
    .header_burger{
        margin-top: 21px;
        margin-right: 40px;
        width: 30px;
        height: 22px;
        display: block;
        position: relative;
        
        

    }
    .middle{
        display: inline-block;
        background-color: #000000;
    
        left: 0;
        width: 100%;
        height: 2px;
        margin-bottom: 2px;
        
    }
    .header_burger :before{
        content: '';
background-color: #000000;
position: absolute;
width: 100%;
height: 2px;
left: 0;
top: 0;
    }
    .header_burger :after{
content: '';
background-color: #000000;
position: absolute;
width: 100%;
height: 2px;
left: 0;
bottom: 0;
    }
    .header_burger ::before{
        top: 0;
    }
    .header_burger ::after{
        bottom: 0;
    }
    #grid{
        
            margin-top: 49px;
            margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
     /*grid-auto-rows:none;
     grid-auto-columns: none;*/
        grid-template-areas:
        'card1'
        'card3'
        'card5';
    }
    .cardsContent .Card2{
        display: none;
    }
    .cardsContent p{
        display: block;
    }
    .cardsContent :nth-child(4){
        display: none;
    }
    .cardsContent :nth-child(6){
        display: none;
    }
    .cardsContent :nth-child(7){
        display: none;
    }
    .cardsContent :nth-child(8){
        display: none;
    }
    .petsContent{
        
        padding-top: 40px;
        padding-bottom: 30px;
       
    
    }
    .petsContentHeading{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
        max-width: 300px;
        max-height: 64px;
        font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    /* or 45px */
    
    
    letter-spacing: 0.06em;
    
    /* color-dark-l */
    
    color: #545454;
    }
    
    
    .footerContent{
        display: block;
    }
    .info{
        margin: 0 auto;
        display: block;
        max-width: 278px;
        max-height: 508px;
        
    }
    .location{
        margin-top: 40px;
        margin-bottom: 90px;
    }
    .pagination{
        width: 300px;
        
    }
    .cardText{
        font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
    }
    .Text1{
        text-align: center;
    }
    .Text2{
        text-align: center;
    }
}

@media (max-width: 319px){
    .container{
        max-width: none;
    }
   
    
}

